<% provide(:title, "Home") %> 

<div class="center jumbotron">
	<h1>Sample App</h1>
	<h2>
		This is the home page for the
		<a href="http://www.railstutorial.org">Ruby on rails tutorial</a>
		sample application
	</h2>
	<a href="#" class="btn btn-lg btn-primary">Sign up now!</a>
</div>
<img alt="Rails logo" src="/assets/rails.png" 
<%= image_tag("kitty.jpg", alt: "Kitty") %>